

<form action="/users/check-password" method="POST">
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <input type="hidden" name="token" value="<%= token%>">
    <input type="submit" value="Submit" required>
</form>
