<div>
    <p>
        Hi! <%= forgotPasswordToken.user.name %>
    </p>
    <br>
    <br>
    <p> The link to reset your password <strong> http://localhost:8000/users/reset-password/<%= forgotPasswordToken.accessToken%></strong></p>
    <br>
    <br>
    <P> thanks</P>
</div>