#home-container{
    display:flex;
    #feed-posts{
        width: 70%;
        padding:10px;
    }

    #users-section{
        display: flex;
        flex-direction: column;
        width:30%;
        padding:10px;
        border-left: 1px solid lightgrey;
        height: 100vh;
        #user-friends{
            height: 50vh;
        }
        
        #all-users{
            height: 50vh;
        }

    }
    
}